<h2>Happy Birthday, Grace!</h2>

<p>
	Welcome to GraceFace Alpha (0.5), the social network for Lucas to practice his web dev skillz, at Grace. In coming releases additional functionality may or may not be built in. Once we approach beta (1.0) or even a production release (2.0), the dev team member(s) may decide to change the user interface strategy into the form of a mobile app, or even leave the user a voicemail. (barring the possiblity of a seafood date night...)   For the time being, the user of this network can enjoy a variety of digital media for her entertainment pleasure. 

</p>

<p>

	Disclosure: New World Myth LTD, it's subsidiaries, and associated voluntary development team member(s) take no responsibilty for any content hosted therein, and are hearby held exempt from any embarassment experienced by the user upon public exhibition of audio recordings. User agrees to the terms of use upon reading this text.</p>

	<p>Enjoy! ~Yours truly, The Dev Team Member(s)</p>


<iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/242063772%3Fsecret_token%3Ds-9QUpm&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe